.cardMap {
  width: 80vw;
  height: 77vh;
  margin-top: 20px;
  border: 2px solid black;
  border-radius:10px;

  display: flex;
  align-items: center;
  flex-direction: column;


  .title {
    margin-bottom: 10px;
  }

  #map {
    width: 95%;
    height: 90%;
  }

  #menu {
    position: absolute;
    background: #efefef;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    }


}

.mapboxgl-popup {
  max-width: 200px;
}
